h4 {
    color: white;
    margin-left: 50px;
    margin-top: 50px;
}

.directors-link {
    color: white;
    margin-left: 30px;
}

.director-container {
width: 90%;
margin: 10px auto;
}

.btn {
    margin: 15px;
}

.btn:hover {
    background-color: rgb(197, 197, 197);
}