.input-container{
    background: #2d3033;
    text-align: center;
    padding: 10px;
}
.input {
  width: 900px;
  border:none;
  outline: none;
}
.containerCustom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dark {
  background-color: rgb(245, 241, 209);
}
.light {
  background-color: rgb(215, 212, 238);
}
.toggleBtn {
  font-weight: bold;
  text-align: center;
  user-select: none;
}
